@font-face {
  font-family: 'avenir-next';
  src: url('../fonts/avenir-next-regular.eot');
  src: url('../fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-next-regular.woff') format('woff'),
  url('../fonts/avenir-next-regular.ttf') format('truetype'),
  url('../fonts/avenir-next-regular.svg#avenir-next-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('../fonts/avenir-next-bold.eot');
  src: url('../fonts/avenir-next-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-next-bold.woff') format('woff'),
  url('../fonts/avenir-next-bold.ttf') format('truetype'),
  url('../fonts/avenir-next-bold.svg#avenir-next-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('../fonts/avenir-next-italic.eot');
  src: url('../fonts/avenir-next-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-next-italic.woff') format('woff'),
  url('../fonts/avenir-next-italic.ttf') format('truetype'),
  url('../fonts/avenir-next-italic.svg#avenir-next-italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-roman';
  src: url('../fonts/avenir-roman.eot');
  src: url('../fonts/avenir-roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-roman.woff') format('woff'),
  url('../fonts/avenir-roman.ttf') format('truetype'),
  url('../fonts/avenir-roman.svg#avenir-roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
