* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #3bafd7;
  text-align: center;
  position: relative;

  .main-container {
    display: table;
    width: 100%;
    height: 100%;
    .main {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }

  p {
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0 10%;
  }
}

h1 {
  margin: 0 0 50px;
  img {
    width: 80%;
    max-width: 590px;
  }

}

.box {
  margin: 0 auto 20px;
  width: 220px;
  position: relative;
  label {
    margin-left: -80px;
    width: 80px;
    display: inline-block;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    height: 40px;
  }
  input {
    width: 200px;
    padding: 10px;
    height: 40px;
    border: 0;
    display: inline-block;
  }
  input.submit {
    border: 0;
    background-color: #fff;
    color: #333;
    width: 40px;
    height: 40px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -40px;
  }
  .error {
    color: #c00;
    font-size: 14px;
    letter-spacing: inherit;
    text-align: left;
    padding: 0 0 0 12px;
    text-transform: none;
    margin-top: -5px;
  }

}
