@import 'fonts';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
}

ul {
  padding-left: 0;
}

#contactus {
  display: block;
  position: relative;
  top: 90px;
  visibility: hidden;
}

/*
 * Floats
 */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

html {
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  #logo {
    position: absolute;
    left: 6vw;
    bottom: 0;
    display: block;
    img {
      width: 240px;
    }
  }
  #mobile-logo {
    display: none;
  }

  #mobile-nav {
    width: 40px;
    height: 40px;
    display: none;
    span {
      background-color: #3bafd7;
      display: block;
      width: 40px;
      height: 7px;
      margin-bottom: 6px;
    }
  }
  nav {
    position: absolute;
    right: 6vw;
    bottom: 2.6vh;
    ul {
      margin: 0;
      li {
        display: inline-block;
        font-family: avenir-next;
        font-weight: bold;
        font-size: 20px;
        margin-right: 30px;
        a {
          color: #3BAFD7;
          text-decoration: none;
          text-transform: uppercase;
        }
        a:hover {
          color: #333;
        }
      }
      li.active {
        a {
          color: #333;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}



header.sticky {
  #logo {
    display: none;
  }
  #mobile-logo {
    display: block;
    padding-top: 20px;
    left: 6vw;
    position: absolute;
    img {
      height: 40px;
    }
  }
  background-color: #fff;
  ul {
    li {
      a {
        color: #3BAFD7 !important;
      }
    }
  }
}


nav.white {
  ul {
    li {
      a {
        color: #fff;
      }
    }
  }
}


.panelContainer {
  height: 100%;
  width: 100%;
  .panel {
    min-height: 100vh;
    padding: 0 6vw 0;
    .content {
      padding: 80px 4.72vw 0;
      height: 100%;
      position: relative;
      min-height: 580px;
      h2, h3 {
        font-family: avenir-next;
        font-weight: bold;
        font-size: 9.87vh;
        text-transform: uppercase;
      }
      h2 {
        line-height: 8.4vh;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 3.04vh;
        text-transform: none;
        margin-bottom: 3.4vh;
      }
      p {
        font-family: avenir-roman;
        font-size: 1rem;
        line-height: 1.42rem;
        width: 55%;
        margin-bottom: 3.4vh;
      }
      blockquote {
        margin: 8vh 0 3vh;
        font-family: avenir-next;
        font-size: 4.5vh;
        position: relative;
      }/*
      blockquote:before {
        position: absolute;
        top: -10px;
        left: -2vw;
        background: url(../img/icons/quotes.png) no-repeat 0 0;
        background-size: 3.6vh 4.8vh;
        width: 3.6vh;
        height: 4.8vh;
        content: '';
      }
      blockquote:after {
        display: inline-block;
        background: url(../img/icons/quotes-close.png) no-repeat 0 0;
        background-size: 3.6vh 4.8vh;
        width: 3.6vh;
        height: 4.8vh;
        margin-bottom: -2vh;
        content: '';
      }*/

      .button {
        text-transform: uppercase;
        text-decoration: none;
        font-family: avenir-next;
        font-weight: bold;
        display: inline-block;
        padding: 2.35vh 4vh;
        font-size: 2.9vh;
      }

    }
  }
  .panel:first-child {
    padding-top: 15vh;
  }
  .panel.text:first-child {
    padding-top: 160px;
  }
  .panel.blueBackground {
    color: #fff;
    background-color: #3bafd7;
    .content {
      img.main {
        position: absolute;
        bottom: 0;
        right: 4.72vw;
        height: 72.4vh;
      }
      .button {
        background-color: #fff;
        color: #3bafd7;
      }
      .button:hover {
        background-color: #333;
      }
    }
  }
  .panel.whiteBackground,
  .panel.white {
    background-color: #fff;
    color: #333;
    .content {
      p {
        width: 90%;
      }
    }
    img.main {
      position: absolute;
      bottom: 0;
      left: 4.72vw;
      height: 82.4vh;
    }
    .button {
      background-color: #3bafd7;
      color: #fff;
    }
    .button:hover {
      background-color: #333;
    }
  }

  .panel.greyBackground {
    background-color: #f3f3f5;
    color: #333;
    h1,h2,h3 {
      color: #3bafd7;
    }
    h2 {
      width: 60%;
    }
    p {
      width: 45%;
    }

    .button {
      background-color: #333;
      color: #fff;
    }
    .button:hover {
      background-color: #3bafd7;
    }
  }
  #brightYoungThings {

    img.main {
      position: absolute;
      bottom: 0;
      right: 4.62vw;
      max-height: 82.4vh;
      max-width: 40vw;
    }
  }




  .panel.greenBackground {
    background-color: #a8c129;
    color: #fff;



    .button {
      background-color: #fff;
      color: #333;
    }
    .button:hover {
      background-color: #333;
      color: #fff;
    }
  }
  .panel.maps {
    padding: 0;
    height: 400px;
    .mapBox {
      float: left;
      width: 33%;
      padding: 30px;
      height: 100%;
      position: relative;
      h3 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 28px;
        font-family: avenir-next;
        font-weight: bold;
      }
      .contact {
        p {
          font-family: avenir-next;
          font-size: 20px;
        }

        .tel {
          position: absolute;
          left: 30px;
          bottom: 100px;
          padding-left: 30px;
          background: url(../img/icons/tel-white.png) no-repeat left center;
          background-size: 20px 20px;
          font-weight: bold;
          font-size: 20px;
        }

        .mapLink {
          position: absolute;
          bottom: 30px;
          left: 30px;
          color: #3bafd7;
          text-transform: uppercase;
          text-decoration: none;
          font-family: avenir-next;
          font-weight: bold;
          display: inline-block;
          padding: 15px 20px 15px 70px;
          font-size: 20px;
          background: url(../img/icons/map-blue.png) no-repeat 20px 14px #fff;
          background-size: 20px;

        }
      }
    }
    .mapBox:nth-child(1) {
      background-color: #3bafd7;
      color: #fff;
    }
    .mapBox:nth-child(2) {
      background-color: #fff;
      color: #333;
      width: 34%;
      .tel {
        background-image: url(../img/icons/tel-black.png);
      }
      .mapLink {
        background-color: #3bafd7;
        color: #fff;
        background-image: url(../img/icons/map-white.png);
      }
    }
    .mapBox:nth-child(3) {
      background-color: #333;
      color: #fff;
      .mapLink {
        background-color: #fff;
        background-image: url(../img/icons/map-black.png);
        color: #333;
      }
    }
  }
}


#quotePanel {
  img.main {
    position: absolute;
    bottom: 3vh;
    left: 3.5vw;
    max-height: 72.4vh;
    max-width: 35vw;
  }

  .content {
    padding-left: 40vw;
    p {
      margin-bottom: 6vh;
      width: 100%;
    }
  }
}

.panelContainer {
  #biggerInsights {
    .content {
      padding-left: 0;
      padding-top:  40px;
      h2 {
        font-size:     8.4vh;
        line-height:   7.4vh;
        margin-bottom: 28px;
        width:         65%;
      }
      h3 {
        font-size:     2.54vh;
        padding-right: 30%;
      }
    }
    img.main {
      left:  auto;
      right: 4.72vw;
    }
  }
}

.panel.panelColumns {
  height: auto;
  min-height: 100vh;
  .content {
    padding-left: 0;
    h2 {
      color: #333;
      font-size: 4vh;
      line-height: 4.6vh;
      margin-bottom: 8vh;
    }
    .buttonWrap {
      text-align: right;
      font-family: avenir-next;
      font-weight: bold;
      font-size: 2.9vh;
      .button {
        margin-left: 30px;
      }
    }

    .columnList {
      list-style: none;
      margin: 0 0 2vh;
      padding: 0;
      li {
        float: left;
        border-bottom: 15px solid #333;
        font-family: avenir-roman;
        line-height: 150%;

        .imageWrap {
          background-color: #fff;
          text-align: center;
          padding: 40px 20px;
          margin-bottom: 30px;
          img {
            max-width: 100%;
            max-height: 140px;
          }
        }

        position: relative;
        margin-bottom: 6vh;
        strong {
          padding: 4vh 0 4vh;
          display: block;
        }
      }
    }
    .columnList.column_3 {
      li {
        width: 30%;
        margin-right: 5%;
      }
      li:nth-child(3n) {
        margin-right: 0;
      }
      li:nth-child(9n) {
        border-bottom-color: #e33077;
      }
      li:nth-child(9n+1) {
        border-bottom-color: #a9bf23;
      }
      li:nth-child(9n+2) {
        border-bottom-color: #e33077;
      }
      li:nth-child(9n+3) {
        border-bottom-color: #f98b11;
      }
      li:nth-child(9n+4) {
        border-bottom-color: #e33077;
      }
      li:nth-child(9n+5) {
        border-bottom-color: #f98b11;
      }
      li:nth-child(9n+6) {
        border-bottom-color: #a9bf23;
      }
      li:nth-child(9n+7) {
        border-bottom-color: #f98b11;
      }
      li:nth-child(9n+8) {
        border-bottom-color: #a9bf23;
      }
    }
    .column_4 {
      li {
        width: 22%;
        margin-right: 4%;
      }
      li:nth-child(4n) {
        margin-right: 0;
      }
      li:nth-child(16n) {
        border-bottom-color: #a9bf23;
      }
      li:nth-child(16n+1) {
        border-bottom-color: #a9bf23;
      }
      li:nth-child(16n+2) {
        border-bottom-color: #f98b11;
      }
      li:nth-child(16n+3) {
        border-bottom-color: #e33077;
      }
      li:nth-child(16n+4) {
        border-bottom-color: #00afd7;
      }
      li:nth-child(16n+5) {
        border-bottom-color: #e33077;
      }
      li:nth-child(16n+6) {
        border-bottom-color: #a9bf23;
      }
      li:nth-child(16n+7) {
        border-bottom-color: #00afd7;
      }
      li:nth-child(16n+8) {
        border-bottom-color: #f98b11;
      }
      li:nth-child(16n+9) {
        border-bottom-color: #f98b11;
      }
      li:nth-child(16n+10) {
        border-bottom-color: #00afd7;
      }
      li:nth-child(16n+11) {
        border-bottom-color: #a9bf23;
      }
      li:nth-child(16n+12) {
        border-bottom-color: #e33077;
      }
      li:nth-child(16n+13) {
        border-bottom-color: #00afd7;
      }
      li:nth-child(16n+14) {
        border-bottom-color: #e33077;
      }
      li:nth-child(16n+15) {
        border-bottom-color: #f98b11;
      }
    }
  }
}

#certifications {
  li {
    &:after {
      content: '';
      display: block;
      height: 40px;
      width: 100%;
    }
  }
}

.panel.pink {
  .content {
    h2, h3 {
      color: #e33077;
    }
    .button {
      background-color: #333;
    }
    .button:hover {
      background-color: #e33077;
    }
  }
}
.panel.green {
  .content {
    h2, h3 {
      color: #a9bf23;
    }
    .button {
      background-color: #333;
    }
    .button:hover {
      background-color: #a9bf23;
    }
  }
}
.panel.purple {
  .content {
    h2, h3 {
      color: #8975d0;
    }
    .button {
      background-color: #333;
    }
    .button:hover {
      background-color: #8975d0;
    }
  }
}
.panel.orange {
  .content {
    h2, h3 {
      color: #f98b11;
    }
    .button {
      background-color: #333;
    }
    .button:hover {
      background-color: #f98b11;
    }
  }
}

.panel.borderTop {
  .content {
    border-top: 20px #333 solid;
  }
}
.panel.borderTop.pink {
   .content {
     border-top-color: #e33077;
   }
 }
.panel.borderTop.green {
  .content {
    border-top-color: #a9bf23;
  }
}
.panel.borderTop.purple {
  .content {
    border-top-color: #8975d0;
  }
}
.panel.borderTop.orange {
  .content {
    border-top-color: #f98b11;
  }
}

#offTheShelf,
#tooIntense,
#anoraks,
#trifleHarsh {
  .content {
    padding-left: 38%;
  }
  img.main {
    width: 30%;
    height: auto;
    bottom: auto;
    top: 8vh;
  }
}

#anoraks {
  .content {
    padding-left: 0;
    padding-right: 42%;
    h3 {
      font-size: 2.74vh;
    }
  }
  img.main {
    width: 40%;
    height: auto;
    top: 18vh;
    right: 0;
    left: auto;
    bottom: auto;
  }
}

#tooIntense {
  .content {
    padding-left: 40%;
  }
  img.main {
    bottom: auto;
    top: 0;
    max-height: 90vh;
    max-width: 30vw;
    width: auto;
  }
}

#magnificent {
  .content {
    padding-left: 40vw;
    img.main {
      max-width: 34vw;
      height: auto;
      width: auto;
      max-height: 82.4vh;
    }
  }
}

#offTheShelf {
  .content {
    padding-left: 0;
    padding-right: 45%;
  }
  img.main {
    width: 40%;
    left: auto;
    right: 0;
    height: auto;
    top: 16vh;
    bottom: auto;
  }
}

#ourWork {
  .content {
    padding-left: 0;
    padding-right: 43%;
  }
  img.main {
    max-height: 80vh;
    max-width: 40%;
    right: 0;
    left: auto;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
  }
  .button {
    background-color: #3bafd7;
    color: #fff;
  }
  .button:hover {
    background-color: #333;
  }
}

#clients {
  li {
    border-bottom: 0;
    margin-bottom: 0;
    .imageWrap {
      padding: 20px;
    }
  }
}

footer {

  padding: 0 6vw;
  background-color: #fff;
  height: 25vh;
  font-family: avenir-next;
  display: table;
  width: 100%;
  .wrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }


  #footerLogo {
    img {
      height: 6vh;
    }
  }

  p.copy {
    width: auto;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  nav {
    text-align: right;
    ul {
      li {
        display: inline-block;
        margin-right: 20px;
        a {
          font-weight: bold;
          color: #333;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}
body.index {
  footer {
    background-color: #f3f3f5;
  }
}

.panelContainer {
  .panel.teamMember,
  .panel.featuredTeamMember {
    .content {
      padding-right: 30%;
      min-height: 100vh;
      h3,
      blockquote {
        background-color: #f3f3f5;
        padding: 30px;
        color: #3bafd7;
        font-family: avenir-next;
        font-weight: bold;
        font-size: 6.0vh;
        line-height: 6.0vh;
        text-transform: uppercase;
        width: 77%;
        margin: 10vh 0 3vh;
        margin-left: -30px;
      }
      h3 {
        margin-top: 0;
        strong {
          color: #000;
        }
      }/*
      blockquote:before {
        position: absolute;
        top: 30px;
        left: 8px;
        background: url(../img/icons/quotes-black.png) no-repeat 0 0;
        background-size: 2.26vh 1.8vh;
        width: 2.26vh;
        height: 1.8vh;
        content: '';
      }
      blockquote:after {
        display: inline-block;
        background: url(../img/icons/quotes-black-close.png) no-repeat 0 0;
        background-size: 2.26vh 1.8vh;
        width: 2.26vh;
        height: 1.8vh;
        margin: auto 0 2.5vh 1vh;
        content: '';
      }*/
      p {
        font-family: avenir-next;
        font-size: 100%;
        line-height: 150%;
      }
      .button {
        background-color: #3bafd7;
      }
    }
    img.main {
      right: -6vw;
      left: auto;
      position: absolute;
      bottom: 0;
      height: 82.4vh;
    }
  }
}


.panelContainer {
  .panel.teamMember {
    background-color: #f3f3f5;
    min-height: 75vh;
    height: auto;
    img.main {
      height: 80vh;
    }
    .content {
      padding-top: 0;
      blockquote {
        margin-top: 0;
        width: 100%;
        background-color: #f3f3f5;
      }
      .description {
        font-size: 1.8vh;
        width: 70%;
      }
      .button {
        color: #000;
        background-color: transparent;
        text-indent: -9999px;
        display: inline-block;
        width: 50px;
        height: 100px;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          background: url(../img/icons/back.svg) no-repeat;
          background-size: 50% 50%;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

.teamMembers {
  list-style: none;
  margin: 0 0 2vh;
  padding: 0;
  li {
    float: left;
    font-family: avenir-roman;
    line-height: 150%;
    position: relative;
    strong {
      font-family: avenir-next;
    }
    a {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-indent: -9999px;
    }

    .imageWrap {
      background-color: #fff;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 5vh;
      border-bottom: 15px solid #333;
      line-height: 0;
      img {
        max-width: 100%;
        max-height: 300px;
      }
    }

    position: relative;
    margin-bottom: 6vh;
    strong {
      display: block;
      position: relative;
      width: 100%;
    }
    strong:before {
      position: absolute;
      display:block;
      content: "";
      background: url(../img/icons/chevron.svg) no-repeat center center;
      background-size: 25px 36px;
      width: 25px;
      height: 36px;
      right: 0;
      top: 2px;
    }
  }
  li {
    width: 30%;
    margin-right: 5%;
  }
  li:nth-child(3n) {
    margin-right: 0;
  }
  li:nth-child(9n) {
    .imageWrap {
      border-bottom-color: #e33077;
    }
  }
  li:nth-child(9n+1) {
    .imageWrap {
      border-bottom-color: #a9bf23;
    }
  }
  li:nth-child(9n+2) {
    .imageWrap {
      border-bottom-color: #e33077;
    }
  }
  li:nth-child(9n+3) {
    .imageWrap {
      border-bottom-color: #f98b11;
    }
  }
  li:nth-child(9n+4) {
    .imageWrap {
      border-bottom-color: #e33077;
    }
  }
  li:nth-child(9n+5) {
    .imageWrap {
      border-bottom-color: #f98b11;
    }
  }
  li:nth-child(9n+6) {
    .imageWrap {
      border-bottom-color: #a9bf23;
    }
  }
  li:nth-child(9n+7) {
    .imageWrap {
      border-bottom-color: #f98b11;
    }
  }
  li:nth-child(9n+8) {
    .imageWrap {
      border-bottom-color: #a9bf23;
    }
  }
}

@media screen and (max-width: 960px) {


  body {
    padding-top: 80px;
  }
  .panelContainer {
    margin-top: -80px;
  }
  header {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 30px;
    overflow: hidden;
    z-index: 9999;
    #mobile-logo {
      display: inline-block;
      img {
        height: 40px;
      }
    }
    #logo {
      display: none;
    }
    #mobile-nav {
      display: block;
      position: absolute;
      top: 25px;
      right: 30px;
    }
    nav.white,
    nav {
      padding-top: 12px;
      width: 100%;
      position: relative;
      bottom: auto;
      right: auto;

      ul {
        display: block;
        li {
          display: block;
          text-align: center;
          margin: 0 0 10px;
          a {
            color: #3bafd7;
          }
        }
      }
    }
  }

  .panelContainer {
    .panel:first-child,
    .panel {
      padding: 0;
      min-height: 100vh;
      height: auto;
      .content {
        min-height: 100vh;
        padding: 40px;
        h2, h3 {
          width: 100%;
        }
        img.main {
          bottom: 0;
          height: auto;
          max-width: 50vw;
          max-height: 60vh;
        }
      }
    }
    .panel.text:first-child {
      padding-top: 60px;
    }

    .featuredTeamMember {
      .content {
        img.main {
          right: 0;
        }
      }
    }
    .panel.maps {
      .mapBox,
      .mapBox:nth-child(2),
      .mapBox:nth-child(3) {
        float: none;
        width: 100%;
        .contact {
          .address {
            float: left;
          }
          .info {
            float: right;
            display: inline-block;
            .mapLink,
            .tel {
              position: relative;
              bottom: auto;
              left: auto;
            }
          }

          .mapLink {
            margin-top: 50px;
          }
        }
      }
    }
  }
  #magnificent {
    .content {
      padding-left: 30px;
      img.main {
        width: 30vw;
        height: auto;
        left: auto;
        right: 30px;
      }
      p {
        width: 60vw;
      }
    }

  }
  .panelContainer {
    #biggerInsights {
      .content {
        padding: 30px;
        h2 {
          font-size: 7vh;
          line-height: 6.4vh;
          width: 50%;
        }
        h3 {
          width: 80%;
        }
        img.main {
          max-height: 90vh;
        }
      }
    }

    #offTheShelf,
    #tooIntense,
    #anoraks,
    #trifleHarsh {
      .content {
        padding: 40px;
        h2 {
          font-size: 9vh;
        }
        p {
          width: 60%;
        }
        img.main {
          top: 25vh;
          right: 0;
          bottom: auto;
          left: auto;

          margin-right: 30px;
        }
      }
    }
    #anoraks {
      .content {
        h3,
        p {
          width: 50%;
        }
      }
    }
    #tooIntense {
      .content {
        img.main {
          top: auto;
          width: auto;
          height: auto;
          bottom: 0;
        }
      }
    }
  }
  .panel.teamMembers  {
    .teamMembers {
      li:nth-child(3n),
      li {
        width: 45%;
        margin-right: 10%;
      }
      li:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {


  .panelContainer {

      margin-top: 0;

    .panel:first-child,
    .panel {
      .content {
        p {
          width: 75%;
        }
        img.main {
          bottom: 0;
          height: auto;
          max-width: 45vw;
          max-height: 70vh;
        }
      }
    }
    .panel.maps {
      .mapBox,
      .mapBox:nth-child(2),
      .mapBox:nth-child(3) {
        .contact {
          .address {
            float: none;
            margin-bottom: 30px;
          }
          .info {
            float: none;
            display: inline-block;
            .mapLink,
            .tel {
              position: relative;
              bottom: auto;
              left: auto;
            }
          }

          .mapLink {
            margin-top: 50px;
          }
        }
      }
    }
    .panel.teamMember,
    .panel.featuredTeamMember {
      .content {
        blockquote {
          margin-top: 0;
          font-size: 5vh;
          width: 100%;
        }
        img.main {
          max-height: 60vh;
        }
      }
    }
    .panel.teamMembers  {
      .teamMembers {
        li {
          width: 100%;
          margin-right: 0;
        }
      }
    }
    #biggerInsights {
      .content {
        h2 {
          width: 100%;
        }
        img.main {
          max-height: 65vh;
          max-width: 40vw;
        }
      }
    }

    #offTheShelf,
    #tooIntense,
    #anoraks,
    #trifleHarsh {
      .content {
        img.main {
          top: 30vh;
        }
      }
    }
  }
  .mobile-hide {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .panelContainer {
    .panel:first-child,
    .panel {
      min-height: 400px;
      .content {
        padding:    30px;
        min-height: 400px;
        h2 {
          font-size:   7.8vh;
          line-height: 8vh;
        }
        p {
          width:       80%;
          font-size:   0.9rem;
          line-height: 1.1rem;
        }
        .button {
          font-size: 2vh;
          padding:   1.35vh 2vh;
        }
      }
    }
    .panel.teamMember,
    .panel.featuredTeamMember {
      background-color: #F3F3F5;
      .content {
        blockquote {
          background-color: #F3F3F5;
          margin-top: 0;
          font-size: 3.8vh;
          line-height: 4.5vh;
          margin-bottom: 10vh;
        }
        img.main {
          max-height: 40vh;
        }
      }
    }

    #biggerInsights {
      .content {
        h2 {
          font-size:   6vh;
          line-height: 5.4vh;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #quotePanel {
    img.main {
      bottom: 0;
      max-height: 90%;
    }
  }
  #brightYoungThings,
  #magnificent {
    .content {
      h2 {
        font-size: 8vh;
      }
    }
  }

  footer {
    .right {
      width: 90%;
    }
    nav {
      font-size: 90%;
    }
  }
}

@media screen and (max-width: 900px) {

  .panelContainer {
    .panel {
      .content {
        blockquote {
          margin: 0;
        }
      }
    }
  }
  footer {
    text-align: center;
    padding: 30px 0;
    .left,
    .right {
      float: none;
    }
    .right {
      width: 100%;
      p.copy {
        text-align: center;
        padding: 20px 0;
        display: block;
      }
    }
    nav {
      width: 100%;
      text-align: center;
      ul {
        li {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #quotePanel {
    .content {
      padding: 40px;
      img.main {
        position: relative;
        display: block;
        float: right;
        margin-right: 30px;
      }
    }
  }

  .panelContainer {
    #offTheShelf,
    #tooIntense,
    #anoraks,
    #trifleHarsh {
      .content {
        h2 {
          font-size: 8vh;
        }
        img.main {
          top:    auto;
          bottom: 10vh;
        }
      }
    }
    #anoraks {
      .content {
        h3 {
          width: 100%;
        }
        img.main {
          bottom: 30vh;
        }
      }
    }
    #tooIntense {
      .content {
        img.main {
          max-height: 60vh;
          bottom: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 700px) {

  .panelContainer {
    .panel.teamMember,
    .panel.featuredTeamMember {
      .content {
        blockquote:before {
          left: 20px;
        }
      }
    }
  }
  footer {
    nav {
      ul {
        li {
          display: block;
          a {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

}


@media screen and (max-width: 500px) {

  #quotePanel {
    .content {
      img.main {
        margin-right: 0;
      }
    }
  }

  .panelContainer {
    #tooIntense {
      .content {
        img.main {
          max-height: 30vh;
          width: auto;
          bottom:     0;
        }
      }
    }
  }


  #brightYoungThings,
  #magnificent {
    .content {
      h2 {
        font-size: 6vh;
        line-height: 6.4vh;
      }
    }
  }

}



@media screen and (max-width: 400px) {
  #brightYoungThings,
  #magnificent {
    .content {
      h2 {
        font-size: 5.2vh;
        line-height: 5.6vh;
      }
    }
  }
}



@media screen and (min-width: 1600px) {


  .teamMembers {
    li {
      .imageWrap {
        margin-bottom: 2vh;
      }
    }
  }

  .panelContainer {
    .panel.teamMember,
    .panel.featuredTeamMember {
      .content {
        blockquote:before {
          left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 2000px) {

  .panelContainer {
    .panel.teamMember,
    .panel.featuredTeamMember {
      .content {
        blockquote:before {
          left: -40px;
        }
      }
    }
  }
}

/*
    these are just the default styles used in the Cycle2 demo pages.
    you can use these styles or any others that you wish.
*/


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { width: 100%; min-width: 200px; margin: 0 auto; padding: 0; position: relative;
  background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;

}

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img {
  /*
  some of these styles will be set by the plugin (by default) but setting them here
  helps avoid flash-of-unstyled-content
  */
  position: absolute; top: 0; left: 0;
  width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
  position: static; z-index: 100;
}

/* pager */
.cycle-pager {
  text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;

}
.cycle-pager span {
  font-family: arial; font-size: 50px; width: 16px; height: 16px;
  display: inline-block; color: #ddd; cursor: pointer;
}
.cycle-pager span.cycle-pager-active { color: #fff;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay {
  font-family: tahoma, arial;
  position: absolute; bottom: 0; width: 100%; z-index: 600;
  background: black; color: white; padding: 15px; opacity: .5;
}


/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
  content: 'Paused'; color: white; background: black; padding: 10px;
  z-index: 500; position: absolute; top: 10px; right: 10px;
  border-radius: 10px;
  opacity: .5; filter: alpha(opacity=50);
}

/*
    media queries
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .cycle-slideshow { width: 200px;}
  .cycle-overlay { padding: 4px }
  .cycle-caption { bottom: 4px; right: 4px }
}

.panel.text {
  padding-top: 60px;

  h2, h3 {
    font-family: avenir-next;
    font-weight: bold;
    font-size: 9.87vh;
    text-transform: uppercase;
    color: #3bafd7;
  }
  h2 {
    line-height: 8.4vh;
    margin-bottom: 30px;
  }

  p {
    max-width: 700px;
    margin-bottom: 20px;
  }
}

